<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />

    <title>historyback</title>
</head>
<body>

<script type="text/javascript" src="/assets/src/libs/require/require.js"></script>
<script type="text/javascript" src="/assets/src/page/historyBack/historyBack.js"></script>
</body>
</html>
