<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <link href="/assets/src/page/historyBack/historyBack.css" rel="stylesheet">
    <title>historybackTest</title>
</head>
<body>
<span class="go-next js-next">下一步</span>
<span class="go-back js-back">上一步</span>
<script type="text/javascript" src="/assets/src/libs/require/require.js"></script>
<script type="text/javascript" src="/assets/src/page/historyBack/historyBack.js"></script>
</body>
</html>